// Insert your color here

$color-dark-primary : #0097A7;
$color-primary : #00BCD4;
$color-secondary: #FF5252;
$color-background: linear-gradient(to bottom, $color-dark-primary , $color-primary) !important;

.color-primary{
  color: $color-primary !important;
}

.color-secondary{
  color: $color-secondary !important;
}