// Insert your color here

$color-primary : #2196F4;
$color-secondary: #FF9800;
$color-background: #FFFFFF;

.color-primary{
  color: $color-primary;
}

.color-secondary{
  color: $color-secondary;
}

.color-background{
  color: $color-background;
}