// Insert your color here

$color-dark-primary : #0097A7;
$color-primary : #00BCD4;
$color-secondary: #BDBDBD;

.color-primary{
  color: $color-primary;
}

.color-secondary{
  color: $color-secondary;
}