body{
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}

.text-xl{
  font-size: 1.5rem;
}

.text-large{
  font-size: 1.125rem;
}

.text-md{
  font-size: 1rem;
}

.text-sm{
  font-size: 0.8125rem;
}

.text-xs{
  font-size: 0.625rem;
}