body{
  // font-family: 'Roboto', sans-serif;
  font-size: 100% !important;
}

.text-xl{
  font-size: 1.5rem !important;
}

.text-lg{
  font-size: 1.125rem !important;
}

.text-md{
  font-size: 1rem !important;
}

.text-sm{
  font-size: 0.8125rem !important;
}

.text-xs{
  font-size: 0.625rem !important;
}

.text-normal{
  font-weight: normal !important;
}

.text-bold{
  font-weight: bold !important;
}

.text-wrap {
  word-wrap: break-word;
}