.landing{
  .segment:nth-child(1){
    padding: 1em 0em;
    background: $color-background;

    .menu{
      border: 0 !important;
    }
  }
  
  .idea{
    padding: 3em 0em !important;
    p {
      text-align: justify;
    }
    background-color: #ffffff !important;
  }

  .filter{
    padding: 3em 0em !important;
    background: $color-background;
    h2{
      color: #FFFFFF !important;
    }
    .icon{
      color: $color-primary;
    }
  }
}
