.result {
  .grid {
    padding-top: 5rem !important;
    
    .no-laptop {
      h2, .frown {
        color: $color-primary !important;
        width: 100%;
      }
    }

    .cards {
      .card {
        .icon {
          color: $color-primary !important;
        }
        .content {
          .header {
            overflow-wrap: break-word;
          }
        }
      }
    }
  }
}