.search {
  @extend %fullscreen;
  background: $color-background;

  .grid {
    h3, p, a{
      color: #ffffff !important;
    }
    button {
      margin-bottom: 1rem !important;
      border-radius: 10px !important;
    }
    .buttons {
      margin: 0 12px !important;
    }
    .button-search {
      color: rgba(0,0,0,.6) !important;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .search {
    position: initial !important;
  }
}