.search {
  .search-container {
    padding-top: 5rem !important;

    .label {
      margin: 0.2rem !important;
      background: $color-primary;
      color: #ffffff;
      .icon.close {
        color: #f44336;
      }
    }

    .pointing.menu {
      overflow-x: auto;
      overflow-y: hidden;
      
      .item {
        cursor: pointer;
      }

      .item.active, .item.active:after {
        background: $color-primary !important;
        color: #ffffff !important;
        font-weight: bold;
      }
    }

    button {
      margin-bottom: 1rem !important;
      border-radius: 10px !important;
    }
    
    .active.button {
      background: $color-primary;
      color: #ffffff;
    }

    .buttons {
      margin: 0 12px !important;
    }

    .button-search {
      color: rgba(0,0,0,.6) !important;
    }
  }

  .rangeslider-horizontal .rangeslider__fill {
    background: $color-primary;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .search {
    position: initial !important;
  }
}